*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  content: var(--tw-content);
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  img {
    display: block;
  }

  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.app {
  width: 100%;
  height: 110vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: aliceblue;
}

.app:before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

html,
body,
.root,
.search {
  background-color: black;
  height: 100%;
  width: 100%;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  height: 70vh;
  margin: auto;
  padding: 0 2rem;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(3, 4, 14, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 2rem;
}

.app.top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.app .search {
  text-align: center;
  padding: 4rem;
  align-items: flex-start;
  height: 150vh;
  width: auto;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(31, 38, 135, 0.37);
  background: rgba(255, 255, 255, 0.1);
  text-overflow: ellipsis;
}

::-webkit-input-placeholder {
  color: aliceblue;
}

::placeholder {
  color: aliceblue;
}

.dropdown-menu {
  width: 250px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
}

option {
  background-color: black;
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #000000, #6b21a8);
  border: 5px solid transparent;
  border-radius: 12px;
  background-clip: content-box;
}

@media (max-width: 600px) {
  .bottom {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 700px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 800px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 600px !important;
  }
}

@media (max-width: 768px) {
  .app .description {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .app .description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .app .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .app .description {
    font-size: 0.8rem;
  }
}

/* Daily forecast cards */

.forecast-row {
  display: flex;
  margin-top: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
}

.forecast-card {
  width: 200px;
  padding: 1rem;
  margin-right: 1rem;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 768px) {
  .forecast-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .forecast-card {
    margin-bottom: 1rem;
  }

  .city-input {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .app .search {
    padding: 2rem;
  }
}

@media (max-width: 395px) {
  .app .search {
    padding: 1rem;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.weather-attribute {
  text-align: center;
  align-items: center;
}

.mic-container {
  background: linear-gradient(to right, #401366, #6b21a8);
  border-radius: 100%;
  background-clip: content-box;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-purple-950 {
  --tw-gradient-from: #3b0764 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(59 7 100 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-20\% {
  --tw-gradient-from-position: 20%;
}

.via-purple-900 {
  --tw-gradient-to: rgb(88 28 135 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #581c87 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.via-60\% {
  --tw-gradient-via-position: 60%;
}

.to-purple-800 {
  --tw-gradient-to: #6b21a8 var(--tw-gradient-to-position);
}

.to-80\% {
  --tw-gradient-to-position: 80%;
}